/*22222222222222*/


#edu_category_gtu h3{
    text-align: center;
    font-size: 40px;
    margin: 30px;
    text-decoration: underline;
}
#edu_category_gtu-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 1050px; */
    margin: 50px auto;
}
#edu_category_gtu-container div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 1050px; */
}
.edu_category_gtu_apply_btn button{
    color: white;
    background-color: #0F65CA;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    font-size: 20px;
    padding: 10px 18px;
    margin: 10px;
    border: none;
    cursor: pointer;
}
.edu_category_gtu_apply_btn i{
    margin-top: 2px;
    margin-left: 5px;
}




/*22222222222222*/
/*33333333333333*/
#edu_category_gtu-subject{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
    margin: 50px auto;
}
.edu_category_gtu_subject_btn button{
    color: white;
    background-color: #0F65CA;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    font-size: 15px;
    padding: 8px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    width: 140px;
    justify-content: center;
}
/*33333333333333*/

@media only screen and (min-width: 330px) and (max-width: 480px) {
    #edu_category_gtu-container{
        margin: 0px;
    }
    
    #edu_category_gtu-subject{
        margin-top: 15px;
        margin-bottom: 50px;
        
    }
}